body{
    margin: 0px;
    background-color: yellow;
}

img {
    transition: transform 0.3s ease;

}

img:hover {
    transform: scale(1.1);
}

.color{
    color: black;
}

.titulo{
    color: black;
}

.aranha{
    margin-top: 60px;
    font-size: 21px;
    color: black;
    h2{
        margin-top: 20px;
        margin-left: 10px;
    }
    font-family: fantasy;
}

.videoinicial{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 80px;
    h2{
        font-size: 40px;
        font-family: fantasy;
    }
    .videoinicial2{
        margin-bottom: 170px;
}
}

.TeD {
    max-width: 900px;
    margin-bottom: 260px;
}

.descricao {
    font-size: 25px;
    margin-top: 10px;
    font-family: sans-serif;
    text-align: center;
}

header{
    color: white;
    font-family: fantasy;
    font-size: 50px;
    text-align: center;
    border-bottom: solid 2px white;
    background-color: black;

}

.embaixo{
    margin-top: 20px;
    color: white;
    font-family: fantasy;
    font-size: 50px;
    border-top: solid 2px white;
    background-color: black;
}

.embaixopag001{
    margin-top: 60px;
    color: white;
    font-family: fantasy;
    font-size: 50px;
    border-top: solid 2px white;
    background-color: black;
}

.pag001{
    margin-left: 400px;
    margin-top: 60px;
}

.voltar{
    width: 120px; height: 120px;
    margin-left: 900px;
    margin-top: 30px;
}

.recomendados{
    color: white;
    font-family: fantasy;
    font-size: 50px;
    border-top: solid 2px white;
    background-color: black;
    text-align: left;
}