body{
    margin: 0px;
    background-color: rgba(255, 255, 0, 0.808);
}

img {
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.1);
}

.videos4{
    display: flex;
    overflow-x:auto;
    gap: 1px;
}

.verso{
    max-width: 400px
}

.loki{
    padding-left: 20px;
    max-width: 300px
    
}

.wolverine{
    padding-left: 4px;
    max-width: 350px
}

.deadpool{
    padding-left: 20px;
    max-width: 300px
    
}

.aranha{
    margin-top: 60px;
    font-size: 20px;
    margin-left: 30px;
    h2{
        margin-top: 20px;
        margin-left: 10px;
    }
    font-family: fantasy;
}

.videoinicial{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 80px;
    h2{
        font-size: 40px;
        font-family: fantasy;
    }
    .videoinicial2{
        margin-bottom: 170px;
}
}

.TeD {
    max-width: 900px;
    margin-bottom: 260px;
}

.descricao {
    font-size: 25px;
    margin-top: 10px;
    font-family: sans-serif;
    text-align: center;
}

header{
    color: white;
    font-family: fantasy;
    font-size: 50px;
    text-align: center;
    border-bottom: solid 2px white;
    background-color: black;

}

.embaixo{
    margin-top: 20px;
    color: white;
    font-family: fantasy;
    font-size: 50px;
    border-top: solid 2px white;
    background-color: black;
}

.embaixopag001{
    margin-top: 54px;
    color: white;
    font-family: fantasy;
    font-size: 50px;
    border-top: solid 2px white;
    background-color: black;
}

.pag001{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.voltarcenter{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.recomendados{
    color: white;
    font-family: fantasy;
    font-size: 50px;
    border-top: solid 2px white;
    background-color: black;
    text-align: left;
}

@media (min-width: 600px) {
    .videomobile{
        display: none;
    }
    .titulomobile{
        display: none;
    }
    .descricaomobile{
        display: none;
    }
}

@media (max-width: 600px) {
    .videomobile{
        padding-top: 20px;
        padding-bottom:0px;
        padding-left: 1px;
        margin-bottom: none;
        width: 300px; height: 230px;
    }

    .titulomobile{
        
        text-align: center;
        font-family: fantasy;      
        padding-bottom: 30px;
    }

    .descricaomobile{
        font-size: 24px;
        padding-bottom: 100px
    }

    .embaixo{
        font-size: 32px;
    }
    


    .recomendados{
        font-size: 32px;
    }
     

    header{
        color: white;
        font-family: fantasy;
        font-size: 32px;
        text-align: center;
        border-bottom: solid 2px white;
        background-color: black;
    }
    
    .centervideomobile{
        text-align: center;
    }

    .pag001{
        iframe{
        width: 300px; height: 250px;
    }
    }

    .videoinicial{
        display:none;
        align-items: none;
        gap: none;
        margin-left: none;
    }
    .videoinicial2{
        margin-top: 100px;
        margin-bottom: none;
        width: 400px; height: 250px;
    }
        .videoinicial2{
            margin-bottom: 170px;
    }
    

    .aranha{
        margin-top: none;
        font-size: none;
        margin-left: none;
        h2{
            margin-top: 20px;
            margin-left: 10px;
        }
        font-family: fantasy;

    }
    
}